/* logo */
header .logo{
    position: fixed;
    z-index: 5; /* z-index: 0, 1, 2, et 3 pour les img background et 4 pour le navbar*/
    margin: 15px 50px;
    opacity: 0.7;
}


/* .menu-desktop */
nav.menu-desktop{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 0 0px 2px 0px #41c4af;
    position: fixed;
    background-color: white;
    z-index: 4; /* z-index: 0, 1, 2, et 3 pour les img background */
    opacity: 0.7;
    transition: all 0.5s;
}
nav.menu-desktop:hover{
    opacity: 1;
    box-shadow: 0 1px 2px 0px #41c4af;
}
/* nav-left */
nav.menu-desktop .nav-left{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 55%;
    margin-left: auto;
}

/* main-menu */
nav.menu-desktop .nav-left .main-menu{
    width: 100%;
}
nav.menu-desktop .nav-left .main-menu .navigation{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav.menu-desktop li{
    list-style-type: none;
    padding: 25px 0;
}
nav.menu-desktop a{
    padding: 25px;
    font-size: 14px;
    font-family: 'lato';
    opacity: 0.9;
    text-decoration: none;
    color: black;
    transition: all 0.5s;
}
nav.menu-desktop a:hover{
    color: #41c4af;
}



nav.menu-desktop .nav-right{
    width: 25%;
    text-align: center;
}
